Repository elct9620/ar-bottle-royale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bundler-audit, bundler-leak, yarn-audit

.gitlab-ci.yml:

default:
  image: ruby:2.6.6

stages:
  - lint
  - test
  - deploy

variables:
  RAILS_ENV: test
  NODE_VERSION: 12.13.1
  BUNDLER_VERSION: 2.1.4
  POSTGRES_DB: ar-battle-royale
  POSTGRES_PASSWORD: postgres
  DATABASE_URL: "postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/$POSTGRES_DB"

.install_ruby_gems: &install_ruby_gems
  - gem install bundler -v ${BUNDLER_VERSION}
  - bundle install --path vendor

.install_nodejs: &install_nodejs
  - curl -SLO https://nodejs.org/dist/v$NODE_VERSION/node-v${NODE_VERSION}-linux-x64.tar.xz && tar -xJf node-v${NODE_VERSION}-linux-x64.tar.xz -C /usr/local --strip-components=1;
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH

.common:
  before_script:
    - export LANG=C.UTF-8
    - export LC_ALL=C.UTF-8
    - *install_ruby_gems
  cache:
    paths:
      - vendor/ruby
      - node_modules

rubocop:
  extends: .common
  stage: lint
  script:
    - bundle exec rubocop
  except:
    - schedules

brakeman:
  extends: .common
  stage: lint
  script:
    - bundle exec brakeman
  except:
    - schedules

bundler-audit:
  extends: .common
  stage: lint
  script:
    - gem install bundler-audit
    - bundle audit --update
    - bundle audit
  only:
    changes:
      - Gemfile
      - Gemfile.lock
  allow_failure: true

bundler-leak:
  extends: .common
  stage: lint
  script:
    - gem install bundler-leak
    - bundle leak check --update
    - bundle leak
  only:
    changes:
      - Gemfile
      - Gemfile.lock
  allow_failure: true

yarn-audit:
  extends: .common
  stage: lint
  before_script:
    - *install_nodejs
  script:
    - yarn audit
  only:
    changes:
      - package.json
      - package-lock.json
      - yarn.lock
  allow_failure: true

rspec:
  extends: .common
  stage: test
  before_script:
    - *install_nodejs
    - *install_ruby_gems
    - yarn install
  services:
    - postgres:12-alpine
  script:
    - bundle exec rake db:migrate
    - bundle exec rspec
  except:
    - schedules

Setup initiali screen
  app/controllers/landing_controller.rb
  app/views/landing/index.html.erb
  app/views/layouts/ar.html.erb
  config/routes.rb
Due: none

Add devise
  Gemfile
  Gemfile.lock
  app/models/user.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20210129164837_devise_create_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: bundler-audit, bundler-leak

Ensure user login before starting game
  app/controllers/application_controller.rb
Due: none

Use redis for development under action cable
  config/cable.yml
Due: none

Setup world map channel
  app/channels/world_map_channel.rb
  app/javascript/channels/consumer.js
  app/javascript/channels/world_map_channel.js
  spec/channels/world_map_channel_spec.rb
Due: none

Add avatar model
  app/models/avatar.rb
  app/models/user.rb
  db/migrate/20210129171221_create_avatars.rb
  db/schema.rb
  spec/factories/avatars.rb
  spec/models/avatar_spec.rb
Due: none

Allow use ngrok.io to access in dev mode
  config/environments/development.rb
Due: none

Setup Git LFS with Overcommit
  .overcommit.yml
  bin/lfs/post-checkout
  bin/lfs/post-commit
  bin/lfs/post-merge
  bin/lfs/pre-push
Due: none

Add sample sword to confirm 3d model is work
  .gitattributes
  public/models/ggj_prp_wep_001.gltf
  public/models/ggj_prp_wep_0010.bin
  public/models/ggj_prp_wep_001_blinn1_BaseColor.png
Due: none

Add geocoder
  Gemfile
  Gemfile.lock
Due: bundler-audit, bundler-leak

Create avatar when user is created
  app/models/avatar.rb
  app/models/user.rb
  spec/factories/users.rb
  spec/models/avatar_spec.rb
  spec/models/user_spec.rb
Due: none

Create avatar if not present when player update
  app/models/user.rb
  config/credentials.yml.enc
  db/migrate/20210130011949_add_trackable_columns_to_users.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: none

Avoid decode location to address for avatar
  app/models/avatar.rb
Due: none

Add geolocation index to avatar
  app/models/avatar.rb
  db/migrate/20210130013345_add_geolocation_index_for_avatar.rb
  db/schema.rb
  spec/factories/avatars.rb
  spec/models/avatar_spec.rb
Due: none

Realtime update position for avatar
  app/channels/application_cable/connection.rb
  app/channels/world_map_channel.rb
  app/javascript/channels/world_map_channel.js
Due: none

Implement display nearby players feature
  app/channels/player_channel.rb
  app/javascript/channels/player_channel.js
  app/models/avatar.rb
  app/services/nearby_player_refresh_service.rb
  spec/channels/player_channel_spec.rb
Due: none

Add Vue.js
  app/javascript/app.vue
  config/webpack/environment.js
  config/webpack/loaders/vue.js
  config/webpacker.yml
  package.json
  yarn.lock
Due: yarn-audit

Update models
  public/models/ggj_prp_wep_001.gltf
  public/models/ggj_prp_wep_0010.bin
  public/models/ggj_prp_wep_001_blinn1_BaseColor.png
  public/models/ggj_prp_wep_001_lambert1_BaseColor.png
Due: none

Setup Vue for UI
  app/javascript/app.vue
  app/javascript/packs/ar.js
  app/views/landing/index.html.erb
  app/views/layouts/ar.html.erb
Due: none

Implement display nearby players on UI
  app/channels/player_channel.rb
  app/javascript/app.vue
  app/javascript/channels/player_channel.js
  app/javascript/components/nearby_player.vue
  app/javascript/components/player_avatar.vue
  app/javascript/events/player.js
  app/services/nearby_player_refresh_service.rb
Due: none

Setup tensorflow for object detection
  app/javascript/app.vue
  app/javascript/components/object_detection.vue
  package.json
  yarn.lock
Due: yarn-audit

* Initial devise-bootstrap
  Gemfile
  Gemfile.lock
  app/views/devise/confirmations/new.html.erb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/registrations/edit.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/devise/shared/_links.html.erb
  app/views/devise/unlocks/new.html.erb
Due: bundler-audit, bundler-leak

Implement object detection
  app/javascript/app.vue
  app/javascript/components/detection_area.vue
  app/javascript/components/object_detection.vue
  app/views/landing/index.html.erb
  app/views/layouts/ar.html.erb
Due: none

Add scan menu button
  app/javascript/app.vue
  app/javascript/components/menu.vue
  app/javascript/components/object_detection.vue
  app/views/layouts/ar.html.erb
Due: none

* Design login page layouts
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/views/devise/sessions/new.html.erb
  app/views/devise/shared/_links.html.erb
  app/views/layouts/application.html.erb
Due: bundler-audit, bundler-leak

Add player with weapon
  app/views/aframe/_player.html.erb
  app/views/aframe/_weapon.html.erb
  app/views/landing/index.html.erb
  public/models/ggj_prp_armor_001.gltf
  public/models/ggj_prp_armor_0010.bin
  public/models/ggj_prp_armor_001_lambert1_BaseColor.png
  public/models/ggj_prp_armor_002.gltf
  public/models/ggj_prp_armor_0020.bin
  public/models/ggj_prp_armor_003.gltf
  public/models/ggj_prp_armor_0030.bin
  public/models/ggj_prp_armor_003_armor_003_BaseColor.png
  public/models/ggj_prp_char_001.gltf
  public/models/ggj_prp_char_0010.bin
  public/models/ggj_prp_char_001_lambert1_BaseColor.png
  public/models/ggj_prp_med_001.gltf
  public/models/ggj_prp_med_0010.bin
  public/models/ggj_prp_source_001.gltf
  public/models/ggj_prp_source_0010.bin
  public/models/ggj_prp_source_001_source1_BaseColor.png
  public/models/ggj_prp_source_002.gltf
  public/models/ggj_prp_source_0020.bin
  public/models/ggj_prp_source_002_source_002_BaseColor.png
  public/models/ggj_prp_source_003.gltf
  public/models/ggj_prp_source_0030.bin
  public/models/ggj_prp_source_003_source_003_BaseColor.png
  public/models/ggj_prp_wep_002.gltf
  public/models/ggj_prp_wep_0020.bin
  public/models/ggj_prp_wep_002_lambert1_BaseColor.png
  public/models/lambert1_Base_Color.png
Due: none

Add battle model
  Gemfile
  app/models/battle.rb
  db/migrate/20210130104010_create_battles.rb
  db/schema.rb
  spec/factories/battles.rb
  spec/models/battle_spec.rb
Due: bundler-audit, bundler-leak

Add aasm gem
  Gemfile
  Gemfile.lock
Due: bundler-audit, bundler-leak

Implement battle ui switch
  app/channels/player_channel.rb
  app/javascript/app.vue
  app/javascript/channels/player_channel.js
  app/javascript/components/item_menu.vue
  app/javascript/components/menu.vue
  app/javascript/components/nearby_player.vue
  app/javascript/components/object_detection.vue
  app/javascript/events/battle.js
  app/models/avatar.rb
  app/models/battle.rb
  app/views/landing/index.html.erb
Due: none

Add battle channel
  app/channels/battle_channel.rb
  app/javascript/channels/battle_channel.js
  spec/channels/battle_channel_spec.rb
Due: none

Add action icon
  app/javascript/assets/Armor_T1.png
  app/javascript/assets/Armor_T2.png
  app/javascript/assets/Armor_T3.png
  app/javascript/assets/Source_T1.png
  app/javascript/assets/Source_T2.png
  app/javascript/assets/Source_T3.png
  app/javascript/assets/hit.png
  app/javascript/assets/scan.png
  app/javascript/assets/weapon_T1.png
  app/javascript/assets/weapon_T2.png
  app/javascript/assets/weapon_T3.png
  app/javascript/components/menu.vue
Due: none

Implement battle attack abstract function
  app/channels/battle_channel.rb
  app/services/battle_attack_service.rb
Due: none

Add battle action
  app/models/action.rb
  db/migrate/20210130141849_create_actions.rb
  db/schema.rb
  spec/factories/actions.rb
  spec/models/action_spec.rb
Due: none

Add battle finish flow
  app/channels/battle_channel.rb
  app/channels/player_channel.rb
  app/javascript/app.vue
  app/javascript/channels/battle_channel.js
  app/javascript/channels/player_channel.js
  app/javascript/components/menu.vue
  app/models/action.rb
  app/models/avatar.rb
  app/models/battle.rb
  app/services/battle_attack_service.rb
Due: none

Add battle finish flow
  app/javascript/app.vue
  app/javascript/channels/battle_channel.js
  app/javascript/components/nearby_player.vue
  app/models/battle.rb
  app/services/attack_player_service.rb
Due: none

Implement scanning feature
  app/channels/world_map_channel.rb
  app/javascript/app.vue
  app/javascript/channels/player_channel.js
  app/javascript/channels/world_map_channel.js
  app/javascript/components/menu.vue
  app/javascript/components/object_detection.vue
  app/javascript/events/map.js
Due: none

Add activerecord-import
  Gemfile
  Gemfile.lock
Due: bundler-audit, bundler-leak
